# Virtual Environment
venv/
.venv/
env/
.env/

# Python Cache
__pycache__/
*.pyc

# Large Data Files
# It's good practice to not track large CSVs in Git.
*.csv

# IDE & Editor Directories
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db